
<div class="row col-md-offset-5" style="margin-top:50px;">
    <input type="text" class="form-control word"  placeholder="Search Github User" />
    <button class="btn btn-danger search">Search</button>
</div>

<table class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Watchers<span class="btn glyphicon glyphicon-sort watchers"></span></th>
        <th>Stars<span class="btn glyphicon glyphicon-sort stars"></span></th>
    </tr>
</table>

@section scripts{
    <script src="~/Scripts/JavaScript.js"></script>
    }